<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Detalhes do usuário: {{usuario.nome}}</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Idade:</strong>{{usuario.idade}}
            </li>
            <li class="list-group-item">
                <strong>Telefone:</strong> {{usuario.telefone}}
            </li>
            <li class="list-group-item">
                <strong>Endereço:</strong> {{usuario.endereco}}
            </li>
        </ul>
        <p class="text-center">
            Para volter clique
            <a routerLink="/lista">aqui</a>
        </p>
      </div>
    </section>
</main>


